@model IEnumerable<QueenLand.Models.project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh mục sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table width="100%">
    <tr>
        <th>
            Tên danh mục
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            Thứ tự xuất hiện
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <img src="@item.image" width=285 height=117>
        </td>
        <td>
            @item.no
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
