@{
    ViewBag.Title = "Bất động sản QueenLand";
    
}

<!-- Revolution Slider -->
<section class="revolution-slider">
  <div class="bannercontainer">
    <div class="banner">
      <ul>
        @Html.Raw(@ViewBag.slide)
      </ul>
    </div>
  </div>
</section>
 @*Reservation form 
<section id="reservation-form" style="background-color:#ffffff;margin-top:-55px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">           
            @Html.Raw(@ViewBag.projects)
      </div>
    </div>
  </div>
</section>*@

  <div class="row"> 
      <div class="col-sm-9" style="padding-top:5px;">
          @Html.Raw(@ViewBag.products)
      </div>
      <div class="col-sm-3" >
              <h3>Facebook</h3>
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FB%25E1%25BA%25A3o-h%25E1%25BB%2599-lao-%25C4%2591%25E1%25BB%2599ng-%25C4%2590%25C3%25B4ng-Anh-713137382158595%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=177010459310004" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
      </div>
  </div>

